<!-- shipping template -->
<div class="shipping">
    <div class="centre">
        <h1>Shipping Information</h1>
        <img src="/media/green_cart.svg" alt="Shopping Trolley"/>
    </div>
    <div>
        Select country <select ng-change="countryChanged();" ng-model="data.selectedCountry" ng-options="opt.name for opt in data.countries track by opt.code"></select>
    </div>
    <div>
        Enter location <input id="location" type="text" size="20" placeholder="Enter at least 3 letters" ng-model="data.selectedLocation" ng-disabled="data.disableCity"/>
    </div>
    <div>
        <button class="confirm-shipping" ng-click="calcShipping();" ng-disabled="data.disableCalc">Calculate</button>
    </div>
    <!-- add in shipping distance and cost -->
    <div ng-if="data.shipping">
        <div>Distance {{ data.shipping.distance }}km</div>
        <div>Cost &euro;{{ data.shipping.cost.toFixed(2) }}</div>
        <div>
            <button class="confirm-shipping" ng-click="confirmShipping();">Confirm</button>
        </div>
    </div>
</div>

