:root {
    font-family: "Lato", sans-serif;
}

body {
    background: white;
    color: #464646;
    font-size: 100%;
    height: 100%;
    margin: 0px;
}

h1 {
    color: #292929;
    font-family: "Raleway", sans-serif;
    font-size: 2.1875em;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 15px;
}

h2 {
    color: #292929;
    font-family: "Raleway", sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 36px;
    margin-bottom: 55px;
}

h3 {
    color: #292929;
    font-family: "Raleway", sans-serif;
    font-size: 0.9375em;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

button,
a.add-cart,
a.show-item,
a.cont {
    background: linear-gradient(90deg, #5CBB5F 0%, #1C8D9A 100%);
    border: 0;
    color: white;
    cursor: pointer;
}

button.login,
button.confirm-shipping,
a.cont {
    border-radius: 42px;
    font-family: "Lato", sans-serif;
    font-size: 0.9375em;
    font-weight: 400;
    height: 42px;
    width: 157px;
    margin-top: 28px;
}

a.add-cart {
    border-radius: 20px;
    font-size: 0.8125em;
    height: 29px;
    line-height: 29px;
    width: 109px;
    display: block;
    text-align: center;
}

a.show-item {
    border-radius: 15px;
    font-size: 0.75em;
    height: 23px;
    width: 85px;
}

a.show-item {
    line-height: 23px;
}

button.cart-payment {
    border-radius: 18px;
    font-family: "Raleway", sans-serif;
    font-size: 0.9375em;
    font-weight: 700;
    height: 32px;
    width: 85px;
    white-space: nowrap;
}

button.cart-payment:disabled {
    cursor: default;
}

a.sign-up {
    color: #747474;
    font-size: 0.625em;
}

header {
    background-image: url(../media/head_bg.png), linear-gradient(90deg, #5DBC5F 0%, #1C8D9B 100%);
    background-position-x: right;
    height: 63px;
    padding-left: 170px;
    padding-right: 170px;
    position: relative;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

header .logo > img {
    height: 49px;
    width: 202px;
}

nav {
    margin-left: auto;
}

nav > a {
    display: block;
    float: left;
}

nav > a:first-child {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 0.9375em;
    font-weight: 500;
    margin-right: 30px;
}

main {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

/* login register */
table.credentials {
    margin-top: 93px;
}

table.credentials .logo {
    height: 68px;
    width: auto;
    margin-bottom: 36px;
}

table.credentials input {
    background: #f8f8f8;
    border: 0;
    border-radius: 10px;
    color: #464646;
    font-size: 0.8125em;
    text-indent: 10px;
    height: 35px;
    width: 292px;
}

table.credentials input.form-gap {
    margin-bottom: 16px;
}

.centre {
    text-align: center;
}

.centre-y {
    display: flex;
    align-items: center;
}

/* cart */
.currency {
    text-align: right;
}

.price {
    white-space: nowrap;
}

.cart-wrapper {
    display: grid;
    grid-template-columns: auto 404px;
    column-gap: 45px;
}

.cart > div:first-child,
.shipping > div:first-child,
.payment > div:first-child {
    margin-bottom: 32px;
}

.cart-empty {
    color: #656565;
    font-family: "Lato", sans-serif;
}

.cart-items {
    display: grid;
    grid-template-rows: 98px;
    row-gap: 36px;
}

.cart-item {
    display: grid;    
    grid-template-columns: 180px 240px 100px 100px 100px 1fr;
    column-gap: 14px;
    background: #f8f8f8;
    border-radius: 10px;
    height: 98px;
}

.cart-item > .centre {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    transform: translateY(-11px);
}

.cart-item .productimage {
    background: #C4C4C4;
    box-shadow: -1px 2px 9px rgba(57, 57, 57, 0.2);
    border-radius: 10px;
    overflow: hidden;
    height: 119px;
    width: 175px;
    transform: translateY(-11px);
}

.cart-item > a:last-child {
    height: 28px;
    margin-right: 28px;
}

.cart-item .price {
    font-size: 1.125em;
}

.cart-item .unit-price {
    color: #7f7f7f;
}

.cart-item .total-price {
    color: black;
}

.cart-summary {
    background: #f8f8f8;
    border-radius: 10px;
    height: 251px;
    width: 404px;
}

.cart-summary table {
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 32px;
    width: 100%;
}

.cart-summary h2,
.cart-summary tr td:last-child {
    text-align: center;
}

.cart-summary tr td:first-child {
    font-size: 0.875em;
}

/* product list */
.products {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    column-gap: 30px;
    row-gap: 50px;
    margin-top: 89px;
    margin-bottom: 89px;
}

.products .product {
    display: grid;    
    grid-template-rows: 157px 70px 23px;
    background: #f8f8f8;
    border-radius: 10px;
    height: 268px;
    width: 207px;
}

.products .product .productimage {
    box-shadow: -1px 2px 9px rgba(57, 57, 57, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 230px;
    height: 156px;
    transform: translateX(-11px);
}

.productimage img {
    height: auto;
    width: 100%;
}

.products .product > div:not(:first-child) {
    margin: 8px 5px;
    width: 196px;
}

.products .product > div:last-child {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.products .product button {
    justify-self: flex-end;
}

.cart-item > div p,
.product > div p {
    color: #464646;
    font-size: 0.5625em;
}

.product .unit-price {
    color: #292929;
    margin-left: 13px;
    line-height: 23px;
}

/* product details */
.product-details .product {
    display: grid;
    grid-template-columns: 476px 465px;
    column-gap: 31px;
    background: #f8f8f8;
    border-radius: 20px;
    height: 234px;
    margin-top: 145px;
}

.product-details .productimage {
    background: #C4C4C4;
    box-shadow: -1px 2px 9px rgba(57, 57, 57, 0.2);
    border-radius: 20px;
    overflow: hidden;
    height: 323px;
    width: 476px;
    transform: translateY(-47px);
}

.product-details .product > div:last-child {
    height: 235px;
    margin: 22px;
}

.product-details .product > div:last-child > div:last-child {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    margin-top: 22px;
}

.product-details .product h3 {
    font-size: 1.8125em;
    margin-bottom: 21px;
}

.product-details .product p {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    margin: 0px;
}

.product-details .product .unit-price {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 2.375em;
    font-weight: 700;
    margin: 0px;
}

.rating {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating span.fa-star {
    cursor: pointer;
    opacity: 0.5;
}

.rating span.fa-star:checked,
.rating span.fa-star.checked {
    color: orange;
}

/* payment */
a.cont {
    display: block;
    line-height: 42px;
    text-align: center;
}

.circle-icon {
    position: fixed;
    bottom: -4px;
    right: 0px;
    z-index: 1;
}

div.light-modal-content {
    background: white;
    border-radius: 10px;
    color: #464646;
    padding: 22px;
    min-height: 100px;
}

div.light-modal-content .light-modal-close-icon {
    background: #50b848;
}